---
const pageTitle = 'About Me';

const identity = {
    firstName: 'Jahan',
    country: 'Bangladesh',
    occupation: 'Software Engineer',
    hobbies: ['photography', 'travelling', 'hiking'],
};

const skills = [
    'HTML',
    'CSS',
    'JavaScript',
    'TypeScript',
    'React',
    'Next.js',
    'Node.js',
    'Express',
    'Mongoose',
    'Astro',
];
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{pageTitle}</title>
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>

        <h1>{pageTitle}</h1>
        <p>Here is some info about me:</p>
        <ul>
            <li>My name is {identity.firstName}.</li>
            <li>
                I live in {identity.country} and I work as a {
                    identity.occupation
                }.
            </li>
        </ul>
        {
            identity.hobbies.length >= 2 && (
                <ul>
                    My hobbies are:{' '}
                    {identity.hobbies.map((hobby, i) => (
                        <li>{hobby}</li>
                    ))}
                </ul>
            )
        }

        <p>My skills are:</p>
        <ul>
            {skills.map((skill) => <li>{skill}</li>)}
        </ul>
    </body>
</html>
